<article id="user">
  <header>
    <%= profile_image_for(@user) %>
    <h1><%= @user.name %></h1>
    <h3>Member since: <small><%= @user.created_at.strftime("%B %Y") %></small></h3>

    <h2><%= mail_to(@user.email) %></h2>
  </header>
</article>
<footer>
  <nav>
  <% if current_user?(@user) %>
    <p><%= link_to 'Edit Account', edit_user_path(@user), class: 'button' %></p>
    <p><%= link_to 'Delete Account', @user, method: :delete,
          data: { confirm: "Are you sure want to permanenly delete your account?" },
          class: 'button' %></p>
  <% end %>
  </nav>
  </footer>
